/* ----------google fonts--------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@500;700&display=swap');

/* -------------some common css---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none !important;
}

/* -----------css variables------------ */
:root {
    --font-primary: font-family: 'Poppins', sans-serif;
    --font-secondary: font-family: 'Roboto', sans-serif;
}

/* --------main coding starts from here------------- */

.navbar-brand {
    font-family: var(--font-primary);
    font-weight: 700;
    color: #3E3E3E;
    font-size: 22px;
}

.nav-link {
    font-family: var(--font-primary);
    font-weight: 500;
    color: #3E3E3E;
    font-size: 16px;
    transition: 0.5s ease-in-out;
    text-align: center;
    align-items: center;
}

.nav-link:hover {
  background-color: #3E3E3E;
  color: #fff;
  border-radius: 5px;
}

/* --------------carousel section starts from here-------------- */

.carousel-item {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 100px;
}

.carousel-heading {
    font-family: var(--font-primary);
    font-weight: 600;
    color: #FFFFFF;
    font-size: 48px;
    margin-bottom: 1rem;
}
.carousel-body {
    font-family: var(--font-primary);
    font-weight: 300;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 1rem;
}

.carousel-item button {
    padding: 10px 15px;
    border: none;
    color: #3F87F5;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid #3F87F5;
    transition: 0.5s ease-in-out;
    margin-bottom: 1rem;
}

.carousel-item button:hover {
    border: 2px solid #3F87F5;
    color: #3F87F5;
    background: none;
}

/* ------------main section starts from here------------- */

.precious {
    margin-bottom: 100px;
}

.precious .texts {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.precious-title {
    font-family: var(--font-primary);
    font-weight: 700;
    color: #0A0826;
    font-size: 38px;
}

.precious-texts {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
}

.precious .texts button {
    border: 2px solid #3F87F5;
    background-color: #3F87F5;
    color: #FFFFFF;
    padding: 10px 12px;
    font-family: var(--font-primary);
    font-weight: 700;
    transition: 0.5s ease-in-out;
}
.precious .texts button:hover {
    border: 2px solid #3F87F5;
    background-color: #FFFFFF;
    color: #3F87F5
}

/* --------------media queries---------- */

@media screen and (max-width: 568px) {
.row {
    row-gap: 3rem;
    flex-direction: column-reverse;
}    
}