/* ----------google fonts--------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@500;700&display=swap');

/* -------------some common css---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none !important;
}

body {
    background: #E5E5E5;
}

html {
    behavior: smooth;
}

/* -----------css variables------------ */
:root {
    --font-primary: font-family: 'Poppins', sans-serif;
    --font-secondary: font-family: 'Roboto', sans-serif;
}

/* --------main coding starts from here------------- */

.navbar-brand {
    font-family: var(--font-primary);
    font-weight: 700;
    color: #3E3E3E;
    font-size: 22px;
}

.nav-link {
    font-family: var(--font-primary);
    font-weight: 500;
    color: #3E3E3E;
    font-size: 16px;
    transition: 0.5s ease-in-out;
    text-align: center;
    align-items: center;
}

.nav-link:hover {
  background-color: #3E3E3E;
  color: #fff;
  border-radius: 5px;
}

/* --------------carousel section starts from here-------------- */

.carousel-item {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 100px;
}

.carousel-heading {
    font-family: var(--font-primary);
    font-weight: 600;
    color: #FFFFFF;
    font-size: 48px;
    margin-bottom: 1rem;
}
.carousel-body {
    font-family: var(--font-primary);
    font-weight: 300;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 1rem;
}

.carousel-item button {
    padding: 10px 15px;
    border: none;
    color: #3F87F5;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid #3F87F5;
    transition: 0.5s ease-in-out;
    margin-bottom: 1rem;
}

.carousel-item button:hover {
    border: 2px solid #3F87F5;
    color: #3F87F5;
    background: none;
}

/* ------------main section starts from here------------- */

.precious {
    margin-bottom: 100px;
    position: relative;
}

.precious-canvas {
    position: absolute;
    right: 0;
    top: 5.5rem;
    background-color: #FFFFFF;
    font-weight: 600;
    padding: 10px 10px;
}
.precious-canvas::before {
    content: "";
    position: absolute;
    left: -5px;
    height: 42px;
    top: 0;
    width: 5px;
    background-color: #3F87F5;
}

.precious-canvas i {
    color: #3F87F5;
}

.precious .texts {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.precious-title {
    font-family: var(--font-primary);
    font-weight: 700;
    color: #0A0826;
    font-size: 38px;
}

.precious-texts {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
}

.precious .texts button {
    border: 2px solid #3F87F5;
    background-color: #3F87F5;
    color: #FFFFFF;
    padding: 10px 12px;
    font-family: var(--font-primary);
    font-weight: 700;
    transition: 0.5s ease-in-out;
}
.precious .texts button:hover {
    border: 2px solid #3F87F5;
    background-color: #FFFFFF;
    color: #3F87F5
}

/* -----------our package section starts from here------------- */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

/* -------card-3 (special card)--------- */

.card-3 {
    background-color: #3F87F5;
    padding: 1rem;
    position: relative;
    bottom: 3.5rem;
    border-radius: 26px;
}  

.card-3::after {
    content: "Hot";
    color: #FFFFFF;
    position: absolute;
    background-color: rgb(238, 106, 133);
    padding: 7px 12px;
    font-weight: 600;
    font-family: var(--font-secondary);
    border-radius: 30px;
    top: -10px;
    right: 3rem;
}

.card-3-title, .card-3-subtitle, .card-3-text, .card-3-ul li {
    color: #FFFFFF !important;
}

.card-body .card-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    color: #231D4F;
    font-size: 36px;
    margin-bottom: 0.3rem;
}

.card-body .card-subtitle {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 25px;
    color: #231D4F;
    margin-bottom: 0.3rem;
}
.card-body .card-text {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 15px;
    color: #848199;
    margin-bottom: 0.7rem;
}

.card-body ul li {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 15px;
    color: #848199;
}

.card-body ul li i {
    font-size: 18px;
    margin-bottom: 10px;
    color: #5243C2;
}
.card-body button {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 20px;
    padding: 7px 12px;
    border: 2px solid #F496D1;
    background-color: #f0a4d4;
    color: #5243C2;
    border-radius: 24px;
    margin-left: 10px;
    transition: 0.5s ease-in-out;
}

.card-body button:hover {
    background-color: #FFFFFF;
    border: 2px solid #3F87F5;
}

/* -------------happy clients section starts from here-------------- */

.happy-clients {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.clients-title {
    font-family: var(--font-primary);
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
}


.happy-clients-cards {
    padding: 2rem;
    background-color: #FFFFFF;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients-text {
    color: #6C6C6C;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.2px;
}

.name {
    margin-top: 10px;
    color: #0C1920;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 14px;
}

.profession {
    color: #747474;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
}

/* --------asked section starts from here--------- */

.accordion-button {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 20px;
    color: #383838;
}
.accordion-body {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
    color: #7E848C;
}

/* --------------media queries---------- */

@media screen and (max-width: 820px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    } 
    .card-3 {
        bottom: 0rem;
    }
    .happy-clients {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 568px) {
.row {
    row-gap: 3rem;
    flex-direction: column-reverse;
}  
.cards {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}  
.card-3 {
    bottom: 0rem;
}
.happy-clients {
    grid-template-columns: repeat(1, 1fr);
}
}